* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./game_modules/texture/glace-bg.png");
    background-size: 64px;
}
